html,
body{
    height: 100%;
}

#root{
    height: 100%;
}

.App {
    text-align: center;
    height: 100%;
}

.App nav a {
    color: #040404;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}
